#grid {
    border: 2px solid black;
    border-color:#000000;
    width: 700px;
    height: 700px;
    background-color:#FFFFFF;
    margin: auto;
}

input#reset {
    margin: auto;
}

table {
    border-collapse: collapse;
}

.cell {
    border-color:#FF0000;
    background-color: #FFFFFF;
    border: 0 solid red;
    margin: 0;
    float: left;
    padding: 0;
}
